* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
    --green: green;
    --white: #faf0e6;
  }
.container {
  height: 100vh;
  width: 100vw;
  /* background-color: red; */
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}


#todoHeading {
  font-size: 70px;
  color: var(--green);
}

.todoSearch{
    display: flex;
    align-items: center;
}

.searchField {
  height: 45px;
  width: 500px;
  outline: none;
  padding: 0px 10px;
  font-size: 20px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border: 1px solid var(--green);
}

.todoBtn {
  background: var(--green);
  padding: 15px 40px;
  border: none;
  color: white;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.showTodo {
  height: 100vh;
  width: 50%;
  margin-top: 30px;
  /* border: 1px solid black; */
  max-width: 80%;
  /* margin: 0 auto; */
  padding: 0 50px;
}

ul {
  display: flex;
  justify-content: space-around;
}

li{
  list-style-type: circle;
}
